In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,'February',2023)
mytuple=("NPower","JDA","Tuesday",30,'February',2023)
mytuple

('NPower', 'JDA', 'Tuesday', 30, 'February', 2023)

In [2]:
#Q2 What is the type of myTuple
type(mytuple)

tuple

In [3]:
#Q3 What is the length of myTuple
len(mytuple)

6

In [41]:
#Q4 print the values in each index #Use regular indexing 

mytuple[0:6]

('NPower', 'JDA', 'Tuesday', 30, 'February', 2023)

In [86]:
#Q5 print the values in each index #Use negative indexing 
mytuple[-7:-1]

('NPower', 'JDA', 'Tuesday', 30, 'February')

In [34]:
#Q6 what is the type of each value
for i in mytuple:
    x=type(i)
    print(x)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

In [48]:
#Q7 unpack myTuple in the following variables name,program,dayName,month,day,yea
# print the variables 
name,program,dayName,day,month,year=mytuple
print(name)
print(program)
print(dayName)
print(day)
print(month)
print(year)

NPower
JDA
Tuesday
30
February
2023

In [55]:
#Q8 unpack myTuple2 in the following variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)
name,program,dayName,*day,month,year=mytuple
mytuple2=name,program,dayName
print(mytuple2)

('NPower', 'JDA', 'Tuesday')

In [87]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")
mytuple[::-1]

(2023, 'February', 30, 'Tuesday', 'JDA', 'NPower')

In [90]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
a=("Coursera","course",6)
b=('week')
c=(2,"Lists","Tuple")
nestedTuple=(a,b,c)
print(nestedTuple)

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'))

In [93]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

('week',)

In [96]:
#Q12 print each element in the nestedTuple
print(nestedTuple[0])
print(nestedTuple[1])
print(nestedTuple[2])

('Coursera', 'course', 6)
week
(2, 'Lists', 'Tuple')

In [98]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[2]

(2, 'Lists', 'Tuple')

In [99]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[2][1]

'Lists'

In [100]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[2][2]

'Tuple'

In [101]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

'course'

In [103]:
#Q17 Concatenate myTuple with nestedTuple
a=(nestedTuple+mytuple)
print(a)

(('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'), 'NPower', 'JDA', 'Tuesday', 30, 'February', 2023)

In [112]:
#Q18 add your name to the tuple
b=(('piruthiha'))
c=(a,b)
print(c)

((('Coursera', 'course', 6), 'week', (2, 'Lists', 'Tuple'), 'NPower', 'JDA', 'Tuesday', 30, 'February', 2023), 'piruthiha')

In [114]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples
string='coursera'
for string in c:
    print(True)
    break

True

In [116]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
num=55
for num in testTuple:
    print(True)
    break

True

In [121]:
#Q21 Find the index of JDA in myTuple
# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
print(mytuple)
print(mytuple.index('JDA'))
print(mytuple.index(2023))

('NPower', 'JDA', 'Tuesday', 30, 'February', 2023)
1
5

In [124]:
#Q22 print index 8 from myTuple
print(mytuple[8])

IndexError: tuple index out of range

In [125]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last 
print(mytuple[3])
print(mytuple[-4])

30
Tuesday

In [132]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
x=testTuple.count(55)
x

2